body {
    font-family: Arial, sans-serif;
    background: url('background-floral.png') no-repeat center center fixed;
    background-size: cover;
    color: #4B0082;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px;
}
header {
    background-color: #D8BFD8;
    padding: 20px;
    border-radius: 10px;
}
input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #DDA0DD;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #9370DB;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #6A5ACD;
}
#recipeList {
    margin-top: 20px;
}
.recipe {
    background-color: #FFF0F5;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #DAA520;
    text-align: left;
    width: 80%;
}
